@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

$font-family: "Mona Sans", sans-serif;
$font-size: 16px;

$primary: #6c72ff;
$primary-1: #cb3cff;

$secondary-1: #101935;
$secondary-2: #343b4f;
$secondary-3: #57c3ff;
$secondary-4: #9a91fb;
$secondary-5: #fdb52a;

$color-100: #ffffff;
$color-200: #d9e1fa;
$color-300: #d1dbf9;
$color-400: #aeb9e1;
$color-500: #7e89ac;
$color-600: #37446b;
$color-700: #212c4d;
$color-800: #080f25;

$neutral-color-800: #0a1330;
