@use "../assets/base/variables" as *;

#app {
  .wrapper {
    display: flex;

    .sidebar {
      width: 300px;

      padding: 40px 28px;

      .initials {
        display: flex;
        gap: 8px;

        .name {
          font-size: 20px;
        }
      }

      .search-wrapper {
        display: flex;
        align-items: center;

        background-color: $secondary-1;

        border: 1px solid $secondary-2;
        border-radius: 4px;

        margin: 40px 0 0 0;

        padding: 14px;

        .search {
          background-color: transparent;

          margin-left: 8px;
        }
      }

      .menu-list {
        display: flex;
        flex-direction: column;
        gap: 4px;

        margin: 30px 0 0 0;

        border-bottom: 1px solid $color-600;

        padding: 0 0 21px 0;

        .menu-item {
          padding: 14px;

          transition: transform 0.3s ease;
          cursor: pointer;

          .menu-name {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > div {
              display: flex;
              align-items: center;
              gap: 4px;

              & span {
                color: $color-400;
              }
            }

            .account {
              display: flex;
              flex-direction: column;

              .account-name {
                color: $color-100;
                font-weight: 500;
              }

              .account-settings {
                font-size: 12px;
              }
            }

            svg {
              width: 12px;
              height: 12px;
            }
          }

          .submenu-list {
            margin: 8px 0 0 0;

            .submenu-item {
              padding: 14px 0 14px 14px;

              color: $color-400;

              &.active {
                color: $color-100;

                background-color: $neutral-color-800;

                border-radius: 4px;

                border-left: 4px solid $primary-1;
              }
            }
          }

          &.active {
            .menu-name {
              & > div {
                & span {
                  color: $primary-1;
                }
              }

              & > svg {
                transform: rotate(90deg);
              }
            }
          }

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .main {
      margin: 35px 47px;
      flex-grow: 1;

      .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-title {
          & > p {
            color: $color-400;
          }
        }

        .buttons {
          .data {
            background-color: $neutral-color-800;
            padding: 8px;

            margin: 0 12px 0 0;

            border-radius: 4px;
          }

          .report {
            background-color: $primary-1;
            padding: 8px;

            border-radius: 4px;
          }
        }
      }

      .content {
        .stats {
          margin: 40px 0 0 0;

          display: flex;
          justify-content: space-between;

          .card {
            background-color: $secondary-6;

            border-radius: 8px;

            width: 243px;

            padding: 20px;

            .card-title {
              display: flex;
              align-items: center;
              justify-content: space-between;

              & div {
                display: flex;
                align-items: center;
                gap: 10px;

                & span {
                  color: $color-400;
                }
              }
            }

            .card-stat {
              margin: 16px 0 0 0;

              .stat-number {
                font-size: 24px;
                font-weight: 600;

                margin: 0 6px 0 0;
              }

              .stat-perc {
                padding: 2px 4px;

                border-radius: 4px;

                &.up {
                  border: 1px solid rgba(5, 193, 104, 0.3);

                  color: #05c168;
                  background-color: rgba(5, 193, 104, 0.2);
                }

                &.down {
                  border: 1px solid rgba(255, 90, 101, 0.3);

                  color: #ff5a65;
                  background-color: rgba(255, 90, 101, 0.2);
                }
              }
            }
          }
        }

        .charts {
          display: flex;
          gap: 30px;

          margin: 30px 0 0 0;

          .progress-chart {
            background-color: $neutral-color-800;
            width: 341px;

            padding: 28px;

            .title {
              display: flex;
              align-items: center;
              justify-content: space-between;

              margin: 0 0 24px 0;

              .data {
                background-color: $color-800;
                padding: 8px;

                margin: 0 12px 0 0;

                border-radius: 4px;
              }
            }

            .legend {
              display: flex;
              flex-direction: column;

              margin: 24px 0 0 0;

              & > div {
                display: flex;
                justify-content: space-between;

                & span {
                  font-size: 14px;
                  color: $color-400;

                  margin: 0 0 14px 0;

                  &::before {
                    display: inline-block;
                    vertical-align: middle;
                    content: "";

                    width: 4px;
                    height: 4px;

                    margin: 0 4px 0 0;

                    background-color: $color-400;

                    border-radius: 100%;
                  }

                  &.clients::before {
                    background-color: $primary-1;
                  }

                  &.subs::before {
                    background-color: rgba(14, 67, 251, 1);
                  }

                  &.cust::before {
                    background-color: rgba(0, 194, 255, 1);
                  }
                }
              }
            }
          }

          .bar-chart {
            width: 100%;

            background-color: $neutral-color-800;

            padding: 28px;

            .header {
              display: flex;
              flex-direction: column;
              align-items: start;
              gap: 10px;

              padding: 0 0 30px 0;

              .title {
                h3 {
                  font-size: 20px;
                  color: $color-400;

                  margin: 0 0 10px 0;
                }
              }

              .legend {
                width: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .stat {
                  display: flex;
                  align-items: center;
                  gap: 6px;

                  .stat-number {
                    font-size: 24px;
                    font-weight: 600;
                  }

                  .stat-perc {
                    padding: 2px 4px;

                    border-radius: 4px;

                    &.up {
                      color: #05c168;
                      background-color: rgba(5, 193, 104, 0.2);
                    }

                    &.down {
                      color: #ff5a65;
                      background-color: rgba(255, 90, 101, 0.2);
                    }
                  }
                }

                & > span {
                  font-size: 14px;
                  color: $color-400;

                  &::before {
                    display: inline-block;
                    vertical-align: middle;
                    content: "";

                    width: 4px;
                    height: 4px;

                    margin: 0 4px 0 0;

                    background-color: $color-400;

                    border-radius: 100%;
                  }

                  &.clients::before {
                    background-color: $primary-1;
                  }

                  &.subs::before {
                    background-color: rgba(14, 67, 251, 1);
                  }

                  &.cust::before {
                    background-color: rgba(0, 194, 255, 1);
                  }
                }

                & input[type="date"] {
                  color: $color-400;

                  border-radius: 4px;

                  background-color: $color-800;

                  padding: 9px;
                  margin: 0 8px 0 0;
                }
              }
            }
          }
        }

        .orders {
          margin: 40px 0 0 0;

          background-color: $secondary-6;

          border-radius: 4px;

          .header {
            padding: 16px 27px;

            .buttons {
              & > input {
                color: $color-400;

                border-radius: 4px;

                background-color: $neutral-color-800;

                padding: 9px;

                margin: 0 8px 0 0;
              }
            }
          }
          .table-orders {
            width: 100%;

            background-color: $secondary-6;

            & tr:nth-child(odd) {
              background-color: $neutral-color-800;
            }

            thead > tr:first-child {
              background-color: transparent;
            }

            td,
            th {
              padding: 16px 27px;
              text-align: left;
              vertical-align: middle;
            }

            .client {
              display: flex;
              flex-direction: column;

              .client-name {
                font-size: 14px;
              }
              .client-mail {
                font-size: 10px;
                color: $color-400;
              }
            }

            .status {
              padding: 2px 6px;

              display: flex;
              align-items: center;
              gap: 5px;

              border-radius: 4px;

              width: 100px;

              &::before {
                display: block;
                content: "";

                width: 4px;
                height: 4px;

                border-radius: 100%;
              }

              &.ok {
                border: 1px solid rgba(5, 193, 104, 0.3);

                color: #05c168;
                background-color: rgba(5, 193, 104, 0.2);

                &::before {
                  background-color: #05c168;
                }
              }

              &.pending {
                border: 1px solid rgba(255, 176, 22, 0.3);

                color: #ffb016;
                background-color: rgba(255, 176, 22, 0.2);

                &::before {
                  background-color: #ffb016;
                }
              }
              &.canceled {
                border: 1px solid rgba(255, 90, 101, 0.3);

                color: #ff5a65;
                background-color: rgba(255, 90, 101, 0.2);

                &::before {
                  background-color: #ff5a65;
                }
              }
            }

            .custom-checkbox {
              display: flex;
              align-items: center;
              gap: 4px;
              position: relative;

              label {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border: 1px solid $color-400;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease, border-color 0.3s ease;
              }

              input[type="checkbox"] {
                display: none;
              }

              input[type="checkbox"]:checked + label {
                background-color: $primary-1;
              }

              input[type="checkbox"]:checked + label::after {
                content: "✔";
                position: absolute;

                font-size: 14px;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
